* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: 	white;
  text-align: center;
}

.wrapper h1 {
  margin-top: 30px;
  color: white;
  font-weight: 400;
  text-align: center;

}

.wrapper p {
  margin-top: 7px;
  text-align: center;
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 20px;
  align-items: center;
  background-color: white;
}

.form-container {
  width: 50%;
  height: 100%;
  background-color: none;
  margin: 20px auto;
  padding: 20px;
  border-radius: 30px;
}



.view-container {
  width: 600px;
  background-color: none;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

tbody {
  margin-top: 25px;
}